#wrapper {
  padding: 50px;
  overflow-y: auto;
}

h3 {
  margin: 20px 0 20px 0;
  color: $medlgtgrey;
  font-size: $fheading;
}

#select-list div {
  width: 30px;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  color: white;
  background-color: black;
}

.findMe {
  background-color: #ccc;
  padding: 10px;
}

.findMe.bold {
  font-weight: bold;
}

select {
  padding: 10px;
  margin: 0 0 10px 0px;
}

label, input[type="checkbox"] {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  li {
    padding: 5px;
    img {
      width: 50px;
      height:auto;
    }
  }
}
