#review-container {
  position: relative;
  margin: 35px 35px 0 35px;
  margin-top: 75px;
  margin-bottom: 35px;
}

.new-review {
  position: relative;
  padding: 50px 0 0 0;
  border: none;
  border-top: 1px solid #edf1ee;
  text-align: right;
}

.new-review legend {
  width: 320px;
  margin-left: calc(50% - 160px);
  font-weight: bold;
  text-align: center;
  font-size: 21px;
}
