.message-container {
  position: relative;
  margin: 35px 35px 0 35px;
}

.review-item-list {
  position: relative;
  list-style-type: none;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .message-container {
    margin: 25px 25px 0 25px;
  }
}
