/* line 3, ../sass/common/default.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/common/default.scss */
*:focus {
  outline-offset: 0;
  outline: none;
}

/* line 16, ../sass/common/default.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 21, ../sass/common/default.scss */
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 28, ../sass/common/default.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #26c5d3;
  font-size: 16px;
  color: #ffffff;
}

/* line 35, ../sass/common/default.scss */
#wrapper,
.modal-layer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 42, ../sass/common/default.scss */
#wrapper {
  position: fixed;
  min-width: 300px;
}

/* line 47, ../sass/common/default.scss */
#app-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

/* line 58, ../sass/common/default.scss */
.main#app-container {
  align-items: normal;
  justify-content: normal;
  flex-flow: column;
}

/* line 64, ../sass/common/default.scss */
.modal-layer {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: none;
  top: 0;
}

/* line 76, ../sass/common/default.scss */
.modal-layer.visible {
  display: flex;
}

/* line 1, ../sass/common/assets.scss */
.logo {
  display: flex;
  flex: 1;
}

/* line 1, ../sass/common/panels.scss */
.panel {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #ffffff;
}
/* line 11, ../sass/common/panels.scss */
.panel .panel-hdr {
  display: flex;
  flex: 1;
  height: 40px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  background: #26c5d3;
}
/* line 20, ../sass/common/panels.scss */
.panel .panel-hdr h1 {
  font-size: 20px;
  line-height: 40px;
  padding-left: 10px;
  font-weight: normal;
}
/* line 28, ../sass/common/panels.scss */
.panel .panel-stn {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #333;
}
/* line 36, ../sass/common/panels.scss */
.panel .panel-bt {
  margin: 10px 0;
  text-align: center;
}

/* line 42, ../sass/common/panels.scss */
.panel#login-panel {
  background: #1da6b2;
}
/* line 45, ../sass/common/panels.scss */
.panel#login-panel .panel-hdr {
  background: none;
  height: 80px;
  padding-top: 30px;
}
/* line 51, ../sass/common/panels.scss */
.panel#login-panel .panel-stn {
  background: none;
  color: #ffffff;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  /* line 59, ../sass/common/panels.scss */
  .panel {
    width: 100%;
  }
}
/* line 1, ../sass/common/components.scss */
.grid {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
}
/* line 12, ../sass/common/components.scss */
.grid .col {
  display: table-cell;
  padding: 15px;
  border-right: 1px solid #ccc;
}
/* line 17, ../sass/common/components.scss */
.grid .col:last-child {
  border-right: none;
}
/* line 21, ../sass/common/components.scss */
.grid .grid-hdr {
  display: table-header-group;
}
/* line 23, ../sass/common/components.scss */
.grid .grid-hdr .col {
  background: #26c5d3;
  color: #ffffff;
}
/* line 29, ../sass/common/components.scss */
.grid .grid-tbl {
  display: table-row-group;
}
/* line 33, ../sass/common/components.scss */
.grid .row {
  display: table-row;
}

/* line 39, ../sass/common/components.scss */
.icon-state {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
}
/* line 46, ../sass/common/components.scss */
.icon-state.error {
  background: #ff3737;
  color: #ffffff;
}
/* line 50, ../sass/common/components.scss */
.icon-state.success {
  background: #15ca49;
  color: #ffffff;
}

/* line 1, ../sass/common/form.scss */
.field-grp {
  border: none;
  text-align: left;
}
/* line 4, ../sass/common/form.scss */
.field-grp .form-row {
  display: flex;
  align-items: stretch;
  padding: 10px 0;
}
/* line 9, ../sass/common/form.scss */
.field-grp .form-row label {
  height: 30px;
  line-height: 30px;
  flex: auto;
}
/* line 16, ../sass/common/form.scss */
.field-grp .form-row input {
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  padding: 0px 5px;
  flex: auto;
  transition: all 0.5s ease-out;
  color: #333;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 2px;
}
/* line 30, ../sass/common/form.scss */
.field-grp .form-row input:focus {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #1da6b2;
}
/* line 37, ../sass/common/form.scss */
.field-grp .form-bt {
  text-align: right;
}

/* line 42, ../sass/common/form.scss */
.bt-action {
  padding: 10px;
  background: #26c5d3;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background 0.2s ease-out;
}

/* line 51, ../sass/common/form.scss */
.bt-action:hover {
  background: #7fe89d;
}

/* line 1, ../sass/common/ui.scss */
header.main {
  display: flex;
  flex: 0 0 auto;
  height: 60px;
  align-items: center;
}

/* line 8, ../sass/common/ui.scss */
section.main {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  background: #ffffff;
}

/* line 15, ../sass/common/ui.scss */
footer.main {
  display: flex;
  flex: 0 0 auto;
  background: #1da6b2;
  height: 30px;
  font-size: 12px;
  align-items: center;
}
/* line 22, ../sass/common/ui.scss */
footer.main span {
  margin-left: 10px;
}

/* line 27, ../sass/common/ui.scss */
.app-inner-content {
  display: flex;
  flex: 1 100%;
  overflow-y: auto;
}
/* line 31, ../sass/common/ui.scss */
.app-inner-content .area-left {
  width: 0px;
  flex: none;
  background: #ccc;
}
/* line 37, ../sass/common/ui.scss */
.app-inner-content .area-main {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 30px;
}

/* line 45, ../sass/common/ui.scss */
.app-inner-content.menu-open .area-left {
  flex: 0 0 20%;
}
/* line 49, ../sass/common/ui.scss */
.app-inner-content.menu-open .area-main {
  flex: 0 0 80%;
}

/* line 55, ../sass/common/ui.scss */
.icon-burger {
  width: 30px;
  margin-left: 20px;
}
/* line 58, ../sass/common/ui.scss */
.icon-burger .line {
  height: 4px;
  border-radius: 2px;
  margin: 3px 0;
  background: #ffffff;
  transition: all 0.5s ease-out;
}

/* line 68, ../sass/common/ui.scss */
.icon-burger:hover .line {
  background: #7fe89d;
}

/* line 1, ../sass/common/menu.scss */
nav.main {
  width: 100%;
}
/* line 3, ../sass/common/menu.scss */
nav.main ul {
  list-style: none;
}
/* line 6, ../sass/common/menu.scss */
nav.main ul li a {
  display: block;
  line-height: 30px;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  transition: background 0.5s ease-in;
  white-space: nowrap;
}
/* line 17, ../sass/common/menu.scss */
nav.main ul li a:hover {
  background: #1da6b2;
}

/* line 1, ../sass/common/type.scss */
h1.title {
  color: #26c5d3;
  font-size: 24px;
}

/* line 6, ../sass/common/type.scss */
p.copy {
  color: #333;
}
