.field-grp {
  border: none;
  text-align: left;
  .form-row {
    display: flex;
    align-items: stretch;
    padding: 10px 0;

    label {
      height: 30px;
      line-height: 30px;
      flex: auto;
      color: $form-label-col;
    }

    input {
      flex: auto;
      height: 30px;
      line-height: 30px;
      margin-left: 5px;
      padding: 0px 5px;
      color: $input-col;
      background: $input-bg;
      border: $input-bdr;
      border-radius: 2px;
      transition: all 0.5s ease-out;
    }

    input:focus {
      border: $input-bdr-focus;
      color: $input-col-focus;
      background: $input-bg-focus;
    }
  }

  .form-bt {
    text-align: right;
  }
}

.app-form {
  form {
    margin: 20px 0;
  }
  .form-row {
    label {
      flex: 100px;
      color: $form-label-inline-col;
    }

    input {
      flex: 100%;
      padding: 20px 5px;
    }
  }
}

.bt-action {
  padding: 10px;
  background: $form-bt-bg;
  color: $form-bt-col;
  border: $form-bt-brd;
  border-radius: 5px;
  transition: background 0.2s ease-out;
}

.bt-action:hover {
  background: $form-bt-bg-hover;
}


@media only screen and (min-width:0px) and (max-width:479px) {

  .app-form {
    form {
      margin: 20px 0;
    }
    .form-row {
      display: block;
      label {
        flex: none;
        display: block;
        color: $form-label-inline-col;
      }

      input {
        flex: none;
        display: block;
        padding: 20px 5px;
        margin: 0;
        width: 100%;
      }
    }
  }
}
