nav.main {
  width: 100%;
  ul {
    list-style: none;
    li {
      a {
        display: block;
        line-height: 30px;
        padding: 10px 20px;
        color: $menu-col;
        text-decoration: none;
        box-sizing: border-box;
        transition: background 0.5s ease-in;
        white-space: nowrap;
      }

      a.active,
      a:hover {
        background: $menu-bg-hover;
      }
    }
  }
}
