.review-list-title {
  color: #87c3ff;
  font-size: 16px;
}

.review-list-title .duration {
  color: #252525;
  margin-left: 12px;
  font-weight: normal;
}

.list-message {
  position: relative;
  font-size: 16px;
  width: 100%;
  padding: 20px;
  margin: 35px 0 25px 0;
  color: #252525;
  border: 1px solid #edf1ee;
  background-color: #edf1ee;
  border-radius: 10px;
}

.list-message::before {
  width: 0px;
  height: 0px;
  background: none;
  content: "";
  position: absolute;
  top: -20px;
  left: 25px;
  border-bottom: 0px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid #edf1ee;
  border-right: none;
}

.review-likes-num {
  margin-left: 12px;
  font-size: 14px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .review-likes-num {
    display: block;
    margin: 5px 0 0 0;
  }
}
