
/*
 * smartphones, iPhone, portrait 480x320 phones
 */
@media only screen {
  /*
   * smartphones, iPhone, portrait 480x320 phones
   */
  @media (min-width:0px) and (max-width:319px) {
    #message-display,
    #review-container {
      position: relative;
      margin: 25px 25px 0 25px;
    }
    .commuser {
      margin-left: 36px !important;
    }
    .newrev {
      legend {
        position: absolute;
        width: auto;
        margin: 0;
        top: 36px;
        text-align: left;
      }
    }
    .rev_input {
      margin-top: 48px;
    }
    .newrev_btn.send_btn, .comlst_send.send_btn {
      width: 100%;
    }
  }

  /*
   * Samsung Duo (portrait)
   * Iphone 6 (portrait)
   * Nokia Lumia (portrait)
   * Lenovo smartphone (portrait)
   *
   * smartphones, iPhone, portrait 480x320 phones
   */
  @media (min-width:320px) and (max-width:479px) {
    #message-display,
    #review-container {
      position: relative;
      margin: 25px 25px 0 25px;
    }
    .commuser {
      margin-left: 36px !important;
    }
    .newrev {
      legend {
        position: absolute;
        width: auto;
        margin: 0;
        top: 36px;
        text-align: left;
      }
    }
    .rev_input {
      margin-top: 48px;
    }
    .newrev_btn.send_btn, .comlst_send.send_btn  {
      width: 100%;
    }
  }

  /*
   * Samsung Duo (landscape)
   * Nokia Lumia (landscape)
   * Kindle Fire (portrait)
   * portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
   */
  @media (min-width:480px) and (max-width:639px) {}

  /*
   * Iphone 6 (landscape)
   * Lenovo smartphone (landscape)
   *
   * portrait tablets, portrait iPad, landscape e-readers,
   * landscape 800x480 or 854x480 phones
   */
  @media (min-width:640px) and (max-width:767px) {}

  /*
   * Samsung Galaxy Tab 10 (portrait)
   * IPad Mini (portrait)
   * Kindle Fire (landscape)
   *
   * portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
   */
  @media (min-width:768px) and (max-width:959px) {}

  /*
   * tablet,
   * landscape iPad,
   * lo-res laptops ands desktops
   */
  @media (min-width:0px) and (max-width:1023px) {}

  /*
   * IPad Mini (landscape)
   * big landscape tablets, laptops, and desktops
   */
  @media (min-width:1024px) and (max-width:1279px) {}

  /*
   * Samsung Galaxy Tab 10 (landscape)
   * hi-res laptops and desktops
   */
  @media (min-width:1280px) and (max-width:1479px) {}

  @media (min-width:1480px) and (max-width:1719px) {}

  @media (min-width:1720px) {}
}
