/*
 * Application Modal preloader layer, overlays all content to ensure
 * no UI elements can be utilized for the single stream data loading
 */
#app-preloader
{
  .prlodr
  {
  position:absolute;
  width:180px;
  left:50%;
  top:50%;
  margin:-35px 0 0 -90px;
  text-align:center;
  padding:3px;

  background:$white;
  border:1px solid $lgtgrey;
  text-align:center;
  overflow:hidden;

    .ldr-anime
    {
    width:32px;
    height:32px;
    margin:0 auto;
    background:url($assetPath + 'preloader_anime.gif');
    }

    .ldr-bar
    {
    width:0%;
    height:4px;
    background:#28bbc8;
    }

    span
    {
    display:block;
    padding:3px;
    font-size:$fsmall;
    font-weight:normal;
    text-align:center;
    background:$lgtgrey;
    }
  }
}
